## .NET / Visual Studio

# Carpetas de compilación
bin/
obj/
out/

# Archivos de Visual Studio
.vs/
*.user
*.suo

# Archivos de configuración sensibles
appsettings.Development.json
appsettings.*.json
!appsettings.json
*.env

# Logs
*.log

# Resultados de pruebas
[Tt]est[Rr]esult*/
*.trx

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
